### Import key libraries

In [4]:
from azureml.core import Workspace, Datastore, Dataset;

### Access to existing workspace

In [6]:
ws = Workspace.from_config();
ws

Workspace.create(name='SDK-WS01', subscription_id='8943b9b0-521b-42bc-a5a4-6be98cd673a5', resource_group='SDKRG01')

##### Tip 1: get the list of WS from subscription

In [5]:
ws_list = Workspace.list(subscription_id="8943b9b0-521b-42bc-a5a4-6be98cd673a5")
ws_list

{'azml-ws01': [Workspace.create(name='azml-ws01', subscription_id='8943b9b0-521b-42bc-a5a4-6be98cd673a5', resource_group='azml-rg01')],
 'SDK-WS01': [Workspace.create(name='SDK-WS01', subscription_id='8943b9b0-521b-42bc-a5a4-6be98cd673a5', resource_group='SDKRG01')]}

### Access to existing Datastore from workspace

In [16]:
az_store = Datastore.get(ws, 'sdk_blob01')
az_store

{
  "name": "sdk_blob01",
  "container_name": "client01blob01",
  "account_name": "client01sa01",
  "protocol": "https",
  "endpoint": "core.windows.net"
}

#### (or) Access to default Datastore from workspace

In [11]:
az_default_store = ws.get_default_datastore()
az_default_store

{
  "name": "workspaceblobstore",
  "container_name": "azureml-blobstore-932d32f9-07f3-4e9e-b4d3-eb00da193c08",
  "account_name": "sdkws01storagece4c5c1416",
  "protocol": "https",
  "endpoint": "core.windows.net"
}

##### Tip 2: get list of all datastore in ws

In [10]:
store_list = list(ws.datastores)
store_list

['sdk_blob01',
 'workspaceblobstore',
 'workspaceworkingdirectory',
 'workspaceartifactstore',
 'workspacefilestore']

### Access to existing Dataset from a workspace

In [22]:
az_dataset = Dataset.get_by_name(ws, "loan_applications_sdk")

#Convert dataset to pandas dataframe
df = az_dataset.to_pandas_dataframe()
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,False,0,Graduate,False,5849,0.0,NaN,360.0,1.0,Urban,True
1,LP001003,Male,True,1,Graduate,False,4583,1508.0,128.0,360.0,1.0,Rural,False
2,LP001005,Male,True,0,Graduate,True,3000,0.0,66.0,360.0,1.0,Urban,True
3,LP001006,Male,True,0,Not Graduate,False,2583,2358.0,120.0,360.0,1.0,Urban,True
4,LP001008,Male,False,0,Graduate,False,6000,0.0,141.0,360.0,1.0,Urban,True

##### Tip 3: Get list of datasets from a workspace

In [21]:
dataset_list = list(ws.datasets.keys())
for items in dataset_list:
    print(items)

loan_applications_sdk