### Setup

In [10]:
from azureml.core import Workspace, Datastore, Dataset;

#Get ws
ws = Workspace.from_config();

#Get datastore
az_store = Datastore.get(ws, 'sdk_blob01');

#Get dataset
az_dataset = Dataset.get_by_name(ws, "loan_applications_sdk");

### Dataset to Dataframe

In [11]:
import pandas as pd
import numpy as np

df = az_dataset.to_pandas_dataframe()
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,False,0,Graduate,False,5849,0.0,NaN,360.0,1.0,Urban,True
1,LP001003,Male,True,1,Graduate,False,4583,1508.0,128.0,360.0,1.0,Rural,False
2,LP001005,Male,True,0,Graduate,True,3000,0.0,66.0,360.0,1.0,Urban,True
3,LP001006,Male,True,0,Not Graduate,False,2583,2358.0,120.0,360.0,1.0,Urban,True
4,LP001008,Male,False,0,Graduate,False,6000,0.0,141.0,360.0,1.0,Urban,True

### Upload dataframe to azure dataset

In [12]:
df_sub = df[["Married", "Gender", "Loan_Status"]]

az_ds_from_df = Dataset.Tabular.register_pandas_dataframe(
                                                        dataframe=df_sub,
                                                        target=az_store,
                                                        name="loan_applications_from_df"
                                                        )

Validating arguments.
Arguments validated.
Successfully obtained datastore reference and path.
Uploading file to managed-dataset/28e3023e-86fe-4517-a6a3-a85d1abf983b/
Successfully uploaded file to datastore.
Creating and registering a new dataset.
Successfully created and registered a new dataset.